.usuario, span:nth-child(1){
    position: relative;
    width: 100px;
    padding: 5px;
    display: inline-block;
    word-wrap: break-word;
}

.descripcion, span:nth-child(2){
    width: 200px;
    padding: 5px;
    display: inline-block;
    word-wrap: break-word;
}

.fecha, span:nth-child(3){
    width: 120px;
    text-align: right;
    padding: 5px;
    display: inline-block;
    word-wrap: break-word;
}

.delete, button:nth-child(1){
    width: 25px;
    text-align: right;
    display: inline-block;
}
